<section class="user-login">
  <header class="page-header">
    <h1>Login</h1>
  </header>

  <div class="from-group">
    <%= form_tag '/login' do %>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <label class="form-label mt-3" for="user[email]">Email</label>
              <%= text_field_tag :email %>
            </div>
            <div class="col">
              <label class="form-label mt-3" for="user[password]">Password</label>
              <%= password_field_tag :password %>
            </div>
          </div>
          <div class="my-3">
            <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</section>
