<section class="user-login">
  <header class="page-header">
    <h1>Login</h1>
  </header>
<%# used this as example for styling https://codingpackets.com/blog/rails-6-forms-with-bootstrap-5-styling/ %>
  <div class="from-group">
    <%= form_tag '/login' do %>
      <div class="card">
        <div class="card-body">

            <div class="mb-3">
              <label class="form-label mt-3" for="user[email]">Email</label>
              <%= text_field_tag(:email,"#{}", class:'form-control', placeholder: 'Email Address' ) %>
            </div>
            <div class="mb-3">
              <label class="form-label mt-3" for="user[password]">Password</label>
              <%# not sure if i need something in that empty curlybraces below for data binding%>
              <%= password_field_tag(:password,"#{}", class:'form-control', placeholder: 'Email Address' ) %>
            </div>

          <div class="my-3">
            <%= submit_tag "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</section>
